* {
  font-size: 20 px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 2em;
}
h1,
h2 {
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding: 0;
}
em {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(206, 21, 30);
  margin: 5px;
  font-size: 20px;
}

p {
  background-color: rgb(255, 132, 138);
  color: white;
  padding: 30px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0 100px;
}
